.local {
    // Formatting for sidebar with icons.
    :global(.aside) :global(.icon):first-child {
        margin-right: 0.5em;
    }

    :global(.aside) a {
        align-items: center;
        display: flex;
    }
}