@charset "utf-8";
@import "~bulma/bulma";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Support footer.
.container-for-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.before-footer {
    flex: 1;
}